.by-author {display: none;}
.entry-meta {display: none;}
.entry-author-link {display: none;}
.entry-permalink {display: none;}
.entry-date {display: none;}
.entry-meta {display: none;}
.by-author {display: none;}